.search {
  margin: 20px;
}

.map {
  width: 100%;
  height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.popover {
  width: 600px;
  height: 130px;    
}

.popover-content {
  padding: 5px;
}

h6 {
  margin: 2px;
}